@use '@/sass/index' as *;

.products-container {
  display: flex;
  margin-top: 3em;
  gap: 2em;
}
.products-list-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

.item-product {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  border-radius: 10px;
  max-width: 250px;

  h2 {
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: $primary-color;
    z-index: 1;
    box-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color,
      0 0 40px $primary-color, 0 0 80px $primary-color;
    transition: all 0.2s ease-in-out;
    animation: neon 1.5s infinite linear;
  }

  &:hover::before {
    width: 30%;
    left: 50%;
  }

  &:hover h2 {
    text-decoration: underline;
    color: #09f;
  }

  .discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    border-radius: 10px 0 0 0;

    &-content {
      transform: rotate(-45deg);
      padding: 0.5em 0;
    }
  }

  .actions {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0.4em;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  .slider-content {
    width: 150px;

    div {
      height: 200px !important;
      background-color: #fff;
      border-radius: 10px;

      img {
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        object-fit: contain !important;
      }
    }
  }
}

.filters {
  width: 30%;
  background: $background-color;
  padding: 1em;
  border-radius: 10px;
  height: fit-content;
  position: sticky;
  top: 10px;

  h2 {
    font-size: 1.2em;
  }

  [type='text'],
  [type='number'] {
    background-color: $content-color;
  }

  .min-max {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .category {
      display: flex;
      align-items: center;
      gap: 0.5em;

      [type='checkbox'] {
        // create a custom checkbox
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        &:checked {
          background-color: $primary-color;
        }

        &:checked::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 50%;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
