@use '@/sass/index' as *;

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .navlink {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.3em;
    padding: 0.4em 1em;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;

    img {
      width: 1.1em;
      height: 1.1em;
    }

    &:hover {
      background-color: rgb($primary-color, 0.4);
    }
  }

  .active {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}
