@use '@/sass/index' as *;

.container-text__message {
  height: auto;
  display: flex;
  flex-direction: column;

  .text__message__date {
    margin-bottom: 0.5em;
    color: #999;

    &[data-sender='system'] {
      text-align: right;
    }
  }

  .text__message {
    background-color: $background-color;
    padding: 0.5em;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: flex-start;

    pre {
      font-size: 1em;
      font-weight: 500;
      font-family: 'Popins', sans-serif;
      white-space: pre-wrap;
      max-width: 280px;
      width: fit-content;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    &[data-sender='system'] {
      background: linear-gradient(90deg, $primary-color, #8f6dd3);
      text-align: start;
    }
  }

  &[data-sender='system'] {
    align-self: flex-end;
    text-align: right;
    align-items: flex-end;
  }
}
