.chat-room-container {
  width: 100%;

  .chat-room__contacts {
    display: flex;
    flex-direction: column;
    gap: 2em;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1em;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      div {
        text-align: center;

        h3 {
          font-size: 1.1em;
          font-weight: 600;
          letter-spacing: 1px;
        }

        small {
          color: #999;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: greenyellow;
          }
        }
      }
    }

    &__notifications {
      display: flex;
      align-items: center;
      gap: 1em;
      justify-content: center;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
